<app-header></app-header>
<div class="container">
  <h4><b>Thank you for visiting~ </b></h4>
  <br>
  <p>
    Hi, my name is Likun Li. I am a junior Java programmer. This is my first full-stack web
    application project. It was also my first time to write front-end code. To be honest, it was a great challenge for me to learn
    the basics. For the next step, I will improve the back-end code more fully. After all, I am more skilled and
    concerned about the back-end, and I will also improve some basic functions that have not been implemented in the
    front-end page.
    <br>
    I am a developer who is willing to communicate with others,  feel free to contact me~  :)
  </p>
  <br>
  <p>
    <b>Email:</b><br>
     li.lik@husky.neu.edu
  </p>
  <br>
  <!-- <p>
    LinkedIn: <a href="https://www.linkedin.com/in/lilikun" target="_blank">https://www.linkedin.com/in/lilikun</a>
  </p> -->
</div>