
        <app-header></app-header>
    
        <div class="container text-center">
          <h1>Welcome to EASYSTEM </h1>
          <br>
          <p>EASYSTEM, a Educational Administration System, provides four roles including student, teacher, course administrator and financial
            administrator, supporting
            course management, homework management, performance management, scholarship management and other content. </p>
        
          <br> <button class="btn btn-lg btn-outline-info" [routerLink]="['/login']">Get Start Now</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>