<app-header></app-header>
<div>
  <div class="row">
    <div class="col-md-3">
      <app-student-nav></app-student-nav>
    </div>
    <div class="col-md-9">
      <div class="container">
        <h1>Assignment</h1>
        <div class="row col-md-3">
            <select type="course" id="course" class="form-control" [(ngModel)]="curCourseId" (ngModelChange)="getAssignments()"
              #role="ngModel" name="course">
              <option [value]="-1">All Courses</option>
              <option [value]="o.id" *ngFor="let o of courses">
                {{o.number}}
              </option>
            </select>
        </div>
        <table class="table table-hover table-stripe">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
          </thead>

          <tbody>
            <tr *ngFor="let assignment of assignments">
              <td>{{assignment.id}}</td>
              <td>{{assignment.name}}</td>
              <td>{{assignment.description}}</td>
              <td>
                <button class="btn btn-primary" (click)="viewDetail(assignment)">View Detail</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>