
<app-header></app-header>
<div>
    

    <div class="row ">
      <!-- <app-logged>You are not logged in!</app-logged> -->
      <div class="col-md-3">
        <app-course-manager-nav></app-course-manager-nav>
      </div>
      <div class="col-md-9 hello">
          <p>Aloha,  <b>{{curUser.username}}</b>~   </p>
          <br>
          <p>What can I do for you today?</p>
          <br>
          <p>Please select according to the navigation bar on the left~  :)</p>
      </div>
    </div>
  </div>